/* calculations */
:where(html) {
  --layout-column-min: 30ch;
  --layout-gap: var(--spacing-gutter);
  --layout-grid-min: var(--layout-column-min);
  --layout-grid-gap: var(--layout-gap);
  --layout-grid-template-columns: repeat(var(--layout-grid-auto-repeat, auto-fit), minmax(min(100%, var(--layout-grid-min)), 1fr));
  --flex-grid-min: var(--layout-column-min);
  --flex-grid-gap: var(--layout-gap);
}
