:where(html) {
  --max-wrapper-width: 1280px;
  --wrapper-padding: var(--layout-gap);
  --wrapper-padding-min: clamp(var(--layout-gap), 2vw, var(--layout-gap) * 2);
  --wrapper-inline: max(var(--wrapper-padding-min, 1rem), 50vw - var(--wrapper-width) / 2 + var(--wrapper-padding) * 2 / 2);
  --wrapper-width: calc(var(--max-wrapper-width) + var(--wrapper-padding) * 2);
  --grid-wrapper-columns: var(--start-col, var(--wrapper-inline)) var(--center-col, 1fr) var(--end-col, var(--wrapper-inline));
}
