@mixin gen-color-utils($color-iterable) {
    @each $prop-name, $prop-val in $color-iterable {
        .bg-#{$prop-name} {
            --tw-bg-opacity: 1; 
            background-color: unquote('hsl(#{$prop-val} / var(--tw-bg-opacity))');
        }
        .text-#{$prop-name} {
            --tw-text-opacity: 1;
            color: unquote('hsl(#{$prop-val} / var(--tw-text-opacity))');
        }   
        .border-#{$prop-name} {
            --tw-border-opacity: 1;
            border-color: unquote('hsl(#{$prop-val} / var(--tw-border-opacity))');
        }
    }  
}

