@mixin default-rules() {  
    --color-surface-bg: transparent;
    --card-two-columns: var(--card-left-col, 1fr) var(--card-right-col, 1fr);  
    --card-gutter-stacked: var(--spacing-gutter);
    grid-template-columns: var(--card-columns, 1fr);    
    background-color: var(--card-bg, var(--color-surface-bg));
    position: relative;
    border: var(--field-border-width, 1px) solid var(--field-border-color);
    border-radius: var(--card-radius, var(--radius));
    height: 100%;
    gap: var(--card-gutter, var(--card-gutter-stacked));
    aspect-ratio: var(--card-aspect, none);
    display: grid;
    padding: var(--card-padding, 0);
    // padding: var(--card-padding, var(--spacing-card-component, clamp(var(--spacing-sm), 8cqi, var(--spacing-xl))));
    :is(h2, h3):not(.heading) {
        // --headingFontSize: clamp(var(--heading-mSize), 5cqi, var(--heading-lSize));
        text-wrap: balance;
    } 
}

@mixin stacked() {
    --card-columns: 1fr;
    --card-gutter: var(--card-gutter-stacked);
    grid-auto-flow: row;    
}

@mixin image-full() {
    display: grid;
    grid-template: 1fr / 1fr;
    height: auto;       
    :is(.card-picture, header) {
        height: 100%;
    }      
}

@mixin link() {
    // text-decoration: none;
    // font-size: inherit;       
    &:focus-visible {
      --outline-color: transparent;
    }
    // &:not(.button)::before {
    &:only-of-type::before {        
      content: "";
      position: absolute;
      inset: 0;
    }    
}