@use "../../props/maps/wrapper.scss" as wrapper;
@use "../ultilities/output-props" as *;
@use "../ultilities/pick-keys" as *;

@mixin default() {
    @include output-props(custom, pick-keys(module-variables("wrapper"), wrapper-inline)...);
    padding-inline: var(--wrapper-inline);
}

@mixin grid() {
    @include output-props(custom, pick-keys(module-variables("wrapper"), grid-wrapper-columns)...);
    display: grid;
    grid-template-columns: var(--grid-wrapper-columns);
    max-width: 100vw;
}