@layer base {
  body {
    font-family: var(--font-family-base);
    font-size: var(--text-size-base);
    line-height: calc(var(--line-height-relative, 1em) + var(--line-height-fixed, var(--spacing-xs, 0.5rem)));
    background: var(--color-global-bg);
    color: var(--color-global-text);
  }
}
