/* Wrapper rules */
@layer utilities {
  .wrapper {
    --wrapper-inline: max(var(--wrapper-padding-min, 1rem), 50vw - var(--wrapper-width) / 2 + var(--wrapper-padding) * 2 / 2);
    padding-inline: var(--wrapper-inline);
  }
  .wrapper-grid {
    --grid-wrapper-columns: var(--start-col, var(--wrapper-inline)) var(--center-col, 1fr) var(--end-col, var(--wrapper-inline));
    display: grid;
    grid-template-columns: var(--grid-wrapper-columns);
    max-width: 100vw;
  }
}
