$color-primary-lch: (
    'primary-l': var(--color-8-l),
    'primary-c': var(--color-8-c),
    'primary-h': var(--op-hue-pink),
);

$color-secondary-lch: (
    'secondary-l': var(--color-8-l),
    'secondary-c': var(--color-8-c),
    'secondary-h': calc(var(--primary-h) + 120),
);

$color-accent-lch: (
    'accent-l': var(--color-8-l),
    'accent-c': var(--color-8-c),
    'accent-h': calc(var(--primary-h) + 240),
);

$default-color-light-range: (
    'color-0-l': 99%,
    'color-1-l': 95%,
    'color-2-l': 88%,
    'color-3-l': 80%,
    'color-4-l': 74%,
    'color-5-l': 68%,
    'color-6-l': 63%,
    'color-7-l': 58%,
    'color-8-l': 53%,
    'color-9-l': 49%,
    'color-10-l': 42%,
    'color-11-l': 35%,
    'color-12-l': 27%,
    'color-13-l': 20%,
    'color-14-l': 14%,
    'color-15-l': 11%,
);

$default-color-chroma-range: (
    'color-0-c': 0.03,
    'color-1-c': 0.06,
    'color-2-c': 0.12,
    'color-3-c': 0.14,
    'color-4-c': 0.16,
    'color-5-c': 0.19,
    'color-6-c': 0.2,
    'color-7-c': 0.19,
    'color-8-c': 0.2,
    'color-9-c': 0.19,
    'color-10-c': 0.17,
    'color-11-c': 0.15,
    'color-12-c': 0.12,
    'color-13-c': 0.09,
    'color-14-c': 0.07,
    'color-15-c': 0.05,
);

