$layout-column-min: 30ch;
$layout-gap: max(3vmax, var(--space-xl, 1rem));
$layout-gap: var(--spacing-gutter);

// Grid layout
$layout-grid-min: var(--layout-column-min);
$layout-grid-gap: var(--layout-gap);
$layout-grid-template-columns: repeat(
    var(--layout-grid-auto-repeat, auto-fit),
    minmax(min(100%, var(--layout-grid-min)), 1fr)
);

/// Grid layout - define column variation
$column-count: 4;
/* calculations */
$breakpoint: calc(
    var(--layout-grid-min) * var(--column-count) +
        (var(--layout-grid-gap) * (var(--column-count) - 1))
);
$column-size: calc((100% / var(--column-count)) - var(--layout-grid-gap));

// Flex layout
$flex-grid-min: var(--layout-column-min);
$flex-grid-gap: var(--layout-gap);

