$space-3xs: calc(var(--space-2xs) / var(--space-increment));
$space-2xs: calc(var(--space-xs) / var(--space-increment));
$space-xs: calc(var(--space-sm) / var(--space-increment));
$space-sm: var(--unit);
$space-md: calc(var(--space-sm) * var(--space-increment));
$space-lg: calc(var(--space-md) * var(--space-increment));
$space-xl: calc(var(--space-lg) * var(--space-increment));
$space-2xl: calc(var(--space-xl) * var(--space-increment));
$space-3xl: calc(var(--space-2xl) * var(--space-increment));
$space-4xl: calc(var(--space-3xl) * var(--space-increment));
$space-5xl: calc(var(--space-4xl) * var(--space-increment));
$space-6xl: calc(var(--space-5xl) * var(--space-increment));