$max-wrapper-width: 1440px!default;
$wrapper-padding: var(--layout-gap)!default;
$wrapper-padding-min: clamp(var(
    --layout-gap), 2vw, (var(--layout-gap) * 2))!default;
$wrapper-inline: max(
    var(--wrapper-padding-min, 1rem),
    calc(50vw - var(--wrapper-width) / 2 + var(--wrapper-padding) * 2 / 2)
)!default;

$wrapper-width: calc(var(--max-wrapper-width) + (var(--wrapper-padding) * 2))!default;

$grid-wrapper-columns: var(--start-col, var(--wrapper-inline)) var(--center-col, 1fr) var(--end-col, var(--wrapper-inline));