@use "../../../props/maps/z-index" as z-index;

$main-header-selector: main-header;

@mixin output-main-header-rules() {

    .#{$main-header-selector} {
        display: grid;
        grid-area: main-header;
        grid-template-areas: 
        "inline-start-block-start-area block-start-area inline-end-block-start-area"
        "inline-start-area main-area inline-end-area"
        "inline-start-block-end-area block-end-area inline-end-block-end-area";
        grid-auto-flow: column;
        grid-template-columns: var(--grid-wrapper-columns);
        z-index: z-index.$template-header-z;
    }

    :where(.#{$main-header-selector}__inner) {
        > * {
            grid-area: main-area;
        }
    }

    .#{$main-header-selector}__inner {
        // display: flex;
        display: contents;
    }

    // .#{$main-header-selector}__main-content {
    //     display: contents;
    // }

    // [data-header-layout="stacked-nav"] .#{$main-header-selector}__main-content {
    //     display: flex;
    // }

    // [data-header-layout="stacked-nav"] .#{$main-header-selector}__inner {
    //     display: contents;
    // }

    // .#{$main-header-selector}__logo {
    //     grid-area: main-area;
    //     height: var(--main-header-logo-height, 100px);
    //     aspect-ratio: var(--main-header-logo-aspect, 16/9);
    // }

    // .#{$main-header-selector}__main-nav {
    //     grid-area: main-area;
    // }

    // [data-header-layout="stacked-nav"] .#{$main-header-selector}__main-nav {
    //     grid-area: stacked-nav-area;
    // }    

    // :where(.#{$main-header-selector}__main-content-end) {
    //     order: 3;
    // }

}