
@mixin output-main-area-rules() {
    :where(html) {
        &:has(:not(.main-aside)) {        
            .main-area {
                display: grid;
                grid-template-columns: var(--grid-wrapper-columns);
                > * {
                    grid-column: 2/2;
                }
            }
        }
    }

    .main-area {
        grid-area: main-area;                
    }
}
