

$root-element-selector: __nuxt;

:where(html) {
    &:has(.admin-header) {
        --root-areas: 'admin-header admin-header admin-header'
        'main-header main-header main-header'
        'main-area main-area main-area'
        'main-footer main-footer main-footer';         
    }
    --root-areas:
    'main-header main-header main-header'
    'main-area main-area main-area'
    'main-footer main-footer main-footer'; 
    &:has(.main-aside:not(:empty)) {        
        --end-col: 0;   
        --root-areas:
        'main-header main-header main-header'
        'inline-start-area main-area inline-end-area'
        'main-footer main-footer main-footer';               
    }    
}

@mixin output-root-element-rules() {
    
    ##{$root-element-selector} {
        display: grid;
        grid-template-areas: var(--root-areas);
        grid-template-columns: var(--grid-wrapper-columns);
    }
}