:where(html) {
  --op-red-0-oklch: oklch(99% 0.03 25);
  --op-red-1-oklch: oklch(95% 0.06 25);
  --op-red-2-oklch: oklch(88% 0.12 25);
  --op-red-3-oklch: oklch(80% 0.14 25);
  --op-red-4-oklch: oklch(74% 0.16 25);
  --op-red-5-oklch: oklch(68% 0.19 25);
  --op-red-6-oklch: oklch(63% 0.2 25);
  --op-red-7-oklch: oklch(58% 0.21 25);
  --op-red-8-oklch: oklch(53% 0.2 25);
  --op-red-9-oklch: oklch(49% 0.19 25);
  --op-red-10-oklch: oklch(42% 0.17 25);
  --op-red-11-oklch: oklch(35% 0.15 25);
  --op-red-12-oklch: oklch(27% 0.12 25);
  --op-color-0: oklch(99% 0.03 var(--color-hue, 0));
  --op-color-1: oklch(95% 0.06 var(--color-hue, 0));
  --op-color-2: oklch(88% 0.12 var(--color-hue, 0));
  --op-color-3: oklch(80% 0.14 var(--color-hue, 0));
  --op-color-4: oklch(74% 0.16 var(--color-hue, 0));
  --op-color-5: oklch(68% 0.19 var(--color-hue, 0));
  --op-color-6: oklch(63% 0.2 var(--color-hue, 0));
  --op-color-7: oklch(58% 0.21 var(--color-hue, 0));
  --op-color-8: oklch(53% 0.2 var(--color-hue, 0));
  --op-color-9: oklch(49% 0.19 var(--color-hue, 0));
  --op-color-10: oklch(42% 0.17 var(--color-hue, 0));
  --op-color-11: oklch(35% 0.15 var(--color-hue, 0));
  --op-color-12: oklch(27% 0.12 var(--color-hue, 0));
  --op-color-13: oklch(20% 0.09 var(--color-hue, 0));
  --op-color-14: oklch(14% 0.07 var(--color-hue, 0));
  --op-color-15: oklch(11% 0.05 var(--color-hue, 0));
  --op-color-bright: oklch(65% 0.3 var(--color-hue, 0));
  --op-hue-red: 25;
  --op-hue-pink: 350;
  --op-hue-purple: 310;
  --op-hue-violet: 290;
  --op-hue-indigo: 270;
  --op-hue-blue: 240;
  --op-hue-cyan: 210;
  --op-hue-teal: 185;
  --op-hue-green: 145;
  --op-hue-lime: 125;
  --op-hue-yellow: 100;
  --op-hue-orange: 75;
}
