$theme-space: (
    // 'spacing-xs': calc(var(--unit) / var(--space-increment)),    
    // 'spacing-sm': var(--unit),
    // 'spacing-md': calc(var(--space-sm) * var(--space-increment)),
    // 'spacing-lg': calc(var(--space-md) * var(--space-increment)),
    // 'spacing-xl': calc(var(--space-lg) * var(--space-increment)),
    // 'spacing-2xl': calc(var(--space-xl) * var(--space-increment)),
    // 'spacing-3xl': calc(var(--space-2xl) * var(--space-increment)),
    // 'spacing-4xl': calc(var(--space-3xl) * var(--space-increment)),
    // 'spacing-5xl': calc(var(--space-4xl) * var(--space-increment)),
    // 'spacing-6xl': calc(var(--space-5xl) * var(--space-increment)),
    // 'spacing-3xs': calc(var(--space-2xs) / var(--space-increment)),
    // 'spacing-2xs': calc(var(--space-xs) / var(--space-increment)),
    'spacing-3xs': var(--space-3xs),
    'spacing-2xs': var(--space-2xs),    
    'spacing-xs': var(--space-xs),
    'spacing-sm': var(--space-sm),
    'spacing-md': var(--space-md),
    'spacing-lg': var(--space-lg),
    'spacing-xl': var(--space-xl),
    'spacing-2xl': var(--space-2xl),
    'spacing-3xl': var(--space-3xl),
    'spacing-4xl': var(--space-4xl),
    'spacing-5xl': var(--space-5xl),
    'spacing-6xl': var(--space-6xl),    
    'spacing-rel-0_5': 0.125em,
    'spacing-rel-1': 0.25em,
    'spacing-rel-1_5': 0.375em,
    'spacing-rel-2': 0.5em,
    'spacing-rel-2_5': 0.625em,
    'spacing-rel-3': 0.75em,
    'spacing-rel-3_5': 0.875em,
    'spacing-rel-4': 1em,
    'spacing-rel-5': 1.25em,
    'spacing-rel-6': 1.5em,
    'spacing-rel-7': 1.75em,
    'spacing-rel-8': 2em,
    'spacing-rel-9': 2.25em,
    'spacing-rel-10': 2.5em,
    'spacing-rel-11': 2.75em,
    'spacing-rel-12': 3em,
    'spacing-rel-14': 3.5em,
    'spacing-rel-16': 4em,
    'spacing-rel-20': 5em,
    'spacing-rel-24': 6em,  
    'spacing-gutter': var(--spacing-md),
    'spacing-gutter-sm': var(--spacing-sm),
    'spacing-gutter-lg': var(--spacing-lg),
    'spacing-gutter-xl': var(--spacing-xl),
    'spacing-regions': var(--spacing-xl),      
    'spacing-card-component': clamp(var(--spacing-sm), 8cqi, var(--spacing-xl)),
);