@use "../../mixins/rules/headings" as headings;

@layer components {

  :where(blockquote, q) {
    font-family: var(--font-family-quote, var(--font-family-serif));    
  }

  // :where(.quote):is(blockquote, q) {    
  //   &:before {
  //     content: open-quote;
  //   }
  //   &:after {
  //     content: close-quote;
  //   }
  // } 

  .quote {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-gutter-sm);
  }
  
  .quote img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: clamp(4rem, 30%, 6rem);
    flex-shrink: 0;
    object-fit: cover;
  }
  
  .quote q {
    quotes: none;
    // @include headings.base();
    // @include headings.heading-xxs-fluid();
    // @include headings.fluid-heading-font-size();
    // font-size: var(--heading-font-size);
  }
}
