@use "../mixins/open-props/op-borders" as mixins;
@use "./maps/borders" as borders;


$op-border-size-includes: '1', '2';
$op-border-radius-includes: 'radius-6', 'blob-1', 'conditional-1';

:where(html) {
    @include mixins.output-borders($op-border-size-includes, borders.$op-border-size);
    @include mixins.output-borders($op-border-radius-includes, borders.$op-border-radius);
}