@use "../mixins/open-props/op-colors" as mixins;
@use "./maps/colors-oklch-dynamic" as dynamic;

$op-colors-oklch-includes: 'red';
$op-colors-oklch-dynamic-includes: 'all';
$op-color-oklch-hue-includes: 'all';

:where(html) {
    @include mixins.output-colors($op-colors-oklch-includes, 'oklch');
    @include mixins.output-dynamic-colors($op-colors-oklch-dynamic-includes, dynamic.$op-color-oklch-dynamic);
    @include mixins.output-dynamic-colors($op-color-oklch-hue-includes, dynamic.$op-color-oklch-hue);
}